# GEdit
*~

# Crash Logs
hs_err_pid*.log

# AWT
/awt/nbproject/private/
/awt/build/
/awt/dist/

# Swing
/swing/nbproject/private/
/swing/build/
/swing/dist/

# Examples
/examples/SwingThemeSwitcher/nbproject/private/
/examples/SwingThemeSwitcher/build/
/examples/SwingThemeSwitcher/dist/

# Mac
*.DS_Store
